@using Microsoft.AspNetCore.Http;
@model List<Produto>
@{
    ViewData["Title"] = "Produto";
}


<h1>Produtos cadastrados</h1>

<div class="container">
    <div class="item">

        @foreach (Produto p in Model)
        {
            <style>
                div.box {
                    display: inline-block;
                    width: 300px;
                }
            </style>

            <div class="box">
                <img src="../img/roupa.jpg" width="300" height="400" />
            </div>

            <h6>ID: @p.IdProduto - Nome: @p.NomeProduto</h6>
            <p>Marca: @p.MarcaProduto
                <br>Cor: @p.CorProduto
                <br>Tamanho: @p.TamanhoProduto
                <br>Quantidade estoque: @p.QuantidadeEstoque
                <br>Preço: R$ @p.Preco
                <br>Data de cadastro: @p.DataCadastro
                <br><i>Usuário: @p.Id</i>
            </p>
        }
    </div>
</div>
</main>

<style>
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;
    }
    .item{
        width: 50%;
    }
</style>
